<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>App de Personas</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
</head>

<body>
    <div class="container-fluid">
        <div id="app">
            <div class="row">
                <div class="col text-center">::.. SISTEMA DE PERSONAS .::<br><br></div>
            </div>

            <!-- Formulario -->
            <div class="row">
                <div class="col">
                    <div class="mx-auto" style="width: 100%;">
                    <div class="row p-1">
                        <div class="col-md-2">CÓDIGO</div>
                        <div class="col-md-3">
                            <input v-model="persona.codigo" type="text" class="form-control">
                        </div>
                    </div>
                    <div class="row p-1">
                        <div class="col-md-2">NOMBRE</div>
                        <div class="col-md-3">
                            <input v-model="persona.nombre" type="text" class="form-control">
                        </div>
                    </div>
                    <div class="row p-1">
                        <div class="col-md-2">DIRECCIÓN</div>
                        <div class="col-md-3">
                            <input v-model="persona.direccion" type="text" class="form-control">
                        </div>
                    </div>
                    <div class="row p-1">
                        <div class="col-md-2">MUNICIPIO</div>
                        <div class="col-md-3">
                            <input v-model="persona.municipio" type="text" class="form-control">
                        </div>
                    </div>
                    <div class="row p-1">
                        <div class="col-md-2">DEPARTAMENTO</div>
                        <div class="col-md-3">
                            <input v-model="persona.departamento" type="text" class="form-control">
                        </div>
                    </div>
                    <div class="row p-1">
                        <div class="col-md-2">TELÉFONO</div>
                        <div class="col-md-3">
                            <input v-model="persona.telefono" type="text" class="form-control">
                        </div>
                    </div>
                    <div class="row p-1">
                        <div class="col-md-2">FECHA DE NACIMIENTO</div>
                        <div class="col-md-3">
                            <input v-model="persona.fechaNacimiento" type="date" class="form-control">
                        </div>
                    </div>
                    <div class="row p-1">
                        <div class="col-md-2">SEXO</div>
                        <div class="col-md-3">
                            <select v-model="persona.sexo" class="form-control">
                                <option value="masculino">Masculino</option>
                                <option value="femenino">Femenino</option>
                                <option value="otro">Otro</option>
                            </select>
                        </div>
                    </div>
                    <div class="row p-1">
                        <div class="col">
                            <button @click.prevent="guardarPersona" class="btn btn-success">GUARDAR</button>
                            <button @click.prevent="nuevaPersona" class="btn btn-warning">NUEVO</button>
                        </div>
                    </div>
                </div>
                <br>
            </div>

            <!-- Tabla -->
            <div class="row">
                <div class="col">
                    <form id="frmPersona">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>BUSCAR</th>
                                    <th colspan="8">
                                        <input placeholder="código, nombre, dirección, municipio, departamento, teléfono, fecha de nacimiento, sexo" type="search"
                                            v-model="valor" @keyup="buscarPersona" class="form-control">
                                    </th>
                                </tr>
                                <tr>
                                    <th>CÓDIGO</th>
                                    <th>NOMBRE</th>
                                    <th>DIRECCIÓN</th>
                                    <th>MUNICIPIO</th>
                                    <th>DEPARTAMENTO</th>
                                    <th>TELÉFONO</th>
                                    <th>FECHA DE NACIMIENTO</th>
                                    <th>SEXO</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr @click="modificarPersona(persona)" v-for="persona in personas"
                                    :key="persona.idPersona">
                                    <td>{{persona.codigo}}</td>
                                    <td>{{persona.nombre}}</td>
                                    <td>{{persona.direccion}}</td>
                                    <td>{{persona.municipio}}</td>
                                    <td>{{persona.departamento}}</td>
                                    <td>{{persona.telefono}}</td>
                                    <td>{{persona.fechaNacimiento}}</td>
                                    <td>{{persona.sexo}}</td>
                                    <td><button @click.prevent="eliminarPersona(persona.idPersona)"
                                            class="btn btn-danger">del</button></td>
                                </tr>
                            </tbody>
                        </table>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.16/dist/vue.js"></script>
    <script src="db.js"></script>
    <script>
        var app = new Vue({
            el: '#app',
            data: {
                valor: '',
                personas: [],
                accion: 'nuevo',
                persona: {
                    idPersona: new Date().getTime(),
                    codigo: '',
                    nombre: '',
                    direccion: '',
                    municipio: '',
                    departamento: '',
                    telefono: '',
                    fechaNacimiento: '',
                    sexo: ''
                }
            },
            methods: {
                buscarPersona() {
                    if (this.valor.trim() === '') {
                        // Si la barra de búsqueda está vacía, cargar todos los productos
                        this.listarPersonas();
                    } else {
                        // Si hay texto en la barra de búsqueda, realizar la búsqueda
                        let store = abrirStore('personas', 'readonly');
                        let data = store.getAll();

                        data.onsuccess = (resp) => {
                            this.personas = data.result.filter(persona =>
                                persona.codigo.includes(this.valor) ||
                                persona.nombre.toLowerCase().includes(this.valor.toLowerCase()) ||
                                persona.direccion.toLowerCase().includes(this.valor.toLowerCase()) ||
                                persona.municipio.toLowerCase().includes(this.valor.toLowerCase()) ||
                                persona.departamento.toLowerCase().includes(this.valor.toLowerCase()) ||
                                persona.telefono.toLowerCase().includes(this.valor.toLowerCase()) ||
                                persona.fechaNacimiento.toLowerCase().includes(this.valor.toLowerCase()) ||
                                persona.sexo.toLowerCase().includes(this.valor.toLowerCase())
                            );
                        };
                    }
                },
                eliminarPersona(idPersona) {
                    if (confirm(`¿Está seguro de eliminar la persona?`)) {
                        let store = abrirStore('personas', 'readwrite');
                        let query = store.delete(idPersona);

                        query.onsuccess = (e) => {
                            // Filtrar la lista para excluir la persona eliminada
                            this.personas = this.personas.filter(persona => persona.idPersona !== idPersona);
                            // Reiniciar el objeto persona solo si la persona eliminada es igual a la actual
                            if (this.persona.idPersona === idPersona) {
                                this.nuevaPersona();
                            }
                        };
                    }
                },
                modificarPersona(persona) {
                    this.accion = 'modificar';
                    this.persona = persona;
                },
                guardarPersona() {
                let store = abrirStore('personas', 'readwrite');
                let query = store.put({ ...this.persona });

                query.onsuccess = (e) => {
                    // Agregar directamente a la lista de personas
                    this.personas.push({ ...this.persona });
                    
                    // Reiniciar el objeto persona
                    this.nuevaPersona();
                };

                query.onerror = (e) => {
                    console.error('Error al guardar en personas', e.target.error);
                };
            },

                nuevaPersona() {
                    this.accion = 'nuevo';
                    this.persona = {
                        idPersona: new Date().getTime(),
                        codigo: '',
                        nombre: '',
                        direccion: '',
                        municipio: '',
                        departamento: '',
                        telefono: '',
                        fechaNacimiento: '',
                        sexo: ''
                    }
                },
                listarPersonas() {
                    let store = abrirStore('personas', 'readonly'),
                        data = store.getAll();
                    data.onsuccess = resp => {
                        this.personas = data.result
                            .filter(persona => persona.codigo.includes(this.valor) ||
                                persona.nombre.toLowerCase().includes(this.valor.toLowerCase()) ||
                                persona.direccion.toLowerCase().includes(this.valor.toLowerCase()) ||
                                persona.municipio.toLowerCase().includes(this.valor.toLowerCase()) ||
                                persona.departamento.toLowerCase().includes(this.valor.toLowerCase()) ||
                                persona.telefono.toLowerCase().includes(this.valor.toLowerCase()) ||
                                persona.fechaNacimiento.toLowerCase().includes(this.valor.toLowerCase()) ||
                                persona.sexo.toLowerCase().includes(this.valor.toLowerCase()));
                    };
                }
            },
            created() {
                //this.listarPersonas();
            }
        })
    </script>
</body>

</html>
